@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100% ©;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #303030;
  color: white;
}
main.main-bg {
  text-align: center;
  padding: 40px;
}
main .default-text {
  width: 50%;
  margin: 0 auto;
}
main .default-text h4 {
  margin: 20px 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
}

section {
  background-color: #0082f9;
}
section .top-header-text {
  font-size: 12px;
  padding: 5px 0;
  color: white;
  text-transform: uppercase;
  width: 84%;
  text-align: end;
}
section .top-header-text span {
  margin-left: 40px;
}

header .container {
  height: 140px;
  width: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .container div {
  width: 14.2857142857%;
}
header .container .input {
  text-align: center;
}
header .container .links {
  width: 45%;
}
header .container ul {
  display: flex;
}
header .container ul li {
  margin: 0 10px;
}
header .container ul li a {
  cursor: pointer;
  color: #797979;
  font-weight: 700;
  text-transform: uppercase;
}
header .container ul li a.active {
  color: #0082f9;
  border-bottom: 5px solid #0082f9;
  padding-bottom: 56px;
}

.banner {
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

.cards-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #1c1c1c;
  color: white;
}
.cards-section .container {
  display: flex;
  flex-direction: column;
}
.cards-section .container .btn {
  cursor: pointer;
  background-color: #0082f9;
}
.cards-section .container .btn.load-btn {
  margin-top: 50px;
  align-self: center;
  padding: 10px 40px;
}
.cards-section .container .btn.current-btn {
  padding: 15px 30px;
  align-self: flex-start;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: -30px;
}
.cards-section .container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-section .container .cards-container .single-card {
  margin: 40px 20px;
  width: calc(16.6666666667% - 40px);
  height: 150px;
}
.cards-section .container .cards-container .single-card h3 {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}
.cards-section .container .cards-container .single-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
}

.shop-section {
  background-color: #0082f9;
  color: white;
  height: 150px;
}
.shop-section img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
.shop-section ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.shop-section ul li span {
  margin: 0 7px;
}

.main-bg-details {
  color: #797979;
}
.main-bg-details .top-details {
  background-color: #0082f9;
  height: 70px;
  width: 100%;
  position: relative;
}
.main-bg-details .top-details .details-thumb {
  border: 1px solid white;
  position: absolute;
  left: 300px;
  bottom: 20px;
}
.main-bg-details .top-details .details-thumb img {
  width: 150px;
  height: 250px;
}
.main-bg-details .comic-details {
  height: 400px;
  background-color: white;
}
.main-bg-details h1 {
  color: #003f5e;
}

.total-footer .faq-cols {
  display: flex;
  align-self: center;
}
.total-footer .faq-cols ul {
  margin: 0 30px;
}
.total-footer .faq-cols ul .sub-list {
  margin: 0;
}
.total-footer .faq-cols ul li {
  margin: 6px;
}
.total-footer .faq-cols ul a {
  color: #797979;
}
.total-footer .container {
  display: flex;
  justify-content: space-between;
}
.total-footer .top-footer {
  display: flex;
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  overflow: hidden;
}
.total-footer .top-footer h3 {
  color: white;
  margin: 10px 0;
}
.total-footer .top-footer .footer-logo {
  width: 550px;
  position: relative;
  right: 0;
  bottom: 50px;
}
.total-footer .bottom-footer {
  position: relative;
  background-color: #303030;
  height: 140px;
}
.total-footer .bottom-footer .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.total-footer .bottom-footer .container h3 {
  color: white;
}
.total-footer .bottom-footer .container .button-sign-up {
  color: white;
  border: 2px solid #0082f9;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}
.total-footer .bottom-footer .container .social-area {
  display: flex;
  align-items: center;
}
.total-footer .bottom-footer .container span {
  color: #0082f9;
  font-size: 20px;
  font-weight: 700;
}
.total-footer .bottom-footer .container .social-list {
  display: flex;
  margin-left: 20px;
}
.total-footer .bottom-footer .container .social-list li {
  margin-left: 10px;
  cursor: pointer;
}