@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100% ©;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #303030;
  color: white;
}
main.main-bg {
  text-align: center;
  padding: 40px;
}
main .default-text {
  width: 50%;
  margin: 0 auto;
}
main .default-text h4 {
  margin: 20px 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
}

header section {
  background-color: #0082f9;
}
header section .top-header-text {
  font-size: 12px;
  padding: 5px 0;
  color: white;
  text-transform: uppercase;
  width: 84%;
  text-align: end;
}
header section .top-header-text span {
  margin-left: 40px;
}

header .container {
  height: 140px;
  width: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header .container div {
  width: 14.2857142857%;
}
header .container .input {
  text-align: center;
}
header .container .links {
  width: 45%;
  display: flex;
  align-self: self-end;
}
header .container ul {
  display: flex;
}
header .container ul li {
  margin: 0 10px;
  padding-bottom: 56px;
  border-bottom: 5px solid transparent;
}
header .container ul li.active {
  color: #0082f9;
  border-bottom: 5px solid #0082f9;
}
header .container ul li.active a {
  color: #0082f9;
}
header .container ul li a {
  cursor: pointer;
  color: #797979;
  font-weight: 700;
  text-transform: uppercase;
}

.banner {
  height: 300px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

.cards-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #1c1c1c;
  color: white;
}
.cards-section .container {
  display: flex;
  flex-direction: column;
}
.cards-section .container .btn {
  cursor: pointer;
  background-color: #0082f9;
}
.cards-section .container .btn.load-btn {
  margin-top: 60px;
  align-self: center;
  padding: 10px 40px;
}
.cards-section .container .btn.current-btn {
  cursor: auto;
  padding: 10px 20px;
  align-self: flex-start;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 300px;
  top: -24px;
}
.cards-section .container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-section .container .cards-container .single-card {
  margin: 40px 20px;
  width: calc(16.6666666667% - 40px);
  height: 150px;
}
.cards-section .container .cards-container .single-card h3 {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}
.cards-section .container .cards-container .single-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
}

.shop-section {
  background-color: #0082f9;
  color: white;
  height: 150px;
}
.shop-section img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
.shop-section ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.shop-section ul li span {
  margin: 0 7px;
}

.main-bg-details {
  background-color: white;
  color: #797979;
}
.main-bg-details .top-details {
  background-color: #0082f9;
  height: 70px;
  width: 100%;
  position: relative;
}
.main-bg-details .top-details .comic-category {
  color: white;
  font-size: 10px;
  background-color: #14b0e1;
  text-transform: uppercase;
  padding: 3px 6px;
  position: absolute;
  left: 301px;
  bottom: 223px;
}
.main-bg-details .top-details .comic-gallery {
  color: white;
  font-size: 11px;
  background-color: #14b0e1;
  text-transform: uppercase;
  padding: 5px 38px;
  position: absolute;
  left: 301px;
  bottom: 21px;
}
.main-bg-details .top-details .details-thumb {
  border: 1px solid white;
  position: absolute;
  left: 300px;
  bottom: 20px;
}
.main-bg-details .top-details .details-thumb img {
  width: 150px;
  height: 220px;
}
.main-bg-details .item-details-wrapper {
  width: 60%;
  margin: 0 auto;
}
.main-bg-details .item-details-wrapper h1 {
  font-size: 28px;
  color: #003f5e;
  text-transform: uppercase;
}
.main-bg-details .item-details-wrapper .item-details-top {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.main-bg-details .item-details-wrapper .item-details-top .details-info {
  width: 60%;
}
.main-bg-details .item-details-wrapper .item-details-top .details-info .price-and-available {
  padding: 10px;
  margin: 20px 0;
  color: white;
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-bg-details .item-details-wrapper .item-details-top .adv-thumb h4 {
  text-transform: uppercase;
  text-align: end;
  font-size: 12px;
  color: #797979;
}
.main-bg-details .item-details-wrapper .item-details-top img {
  width: 250px;
}
.main-bg-details .item-specs-wrapper {
  background-color: #f6f6f6;
  padding: 40px 0;
}
.main-bg-details .item-specs-wrapper h4 {
  font-size: 22px;
  color: #003f5e;
  border-bottom: 1px solid #797979;
  padding-bottom: 30px;
}
.main-bg-details .item-specs-wrapper .info-specs {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-bg-details .item-specs-wrapper .info-specs .details-paragraph {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #797979;
}
.main-bg-details .item-specs-wrapper .info-specs .details-paragraph .author-names {
  width: 40%;
  text-align: end;
}
.main-bg-details .item-specs-wrapper .info-specs .details-paragraph .author-names a {
  color: #14b0e1;
}
.main-bg-details .item-specs-wrapper .info-specs .details-paragraph .series-detail {
  color: #14b0e1;
  text-transform: uppercase;
  cursor: pointer;
}
.main-bg-details .item-specs-wrapper .info-specs .talent-box {
  width: 48%;
}
.main-bg-details .item-specs-wrapper .info-specs .specs-box {
  width: 48%;
}
.main-bg-details .item-specs-wrapper .info-specs .specs-box .comic-specs {
  width: 60%;
}
.main-bg-details .shop-wrapper {
  border-top: 1px solid #797979;
}
.main-bg-details .shop-section-single-item {
  background-color: #f6f6f6;
  color: #797979;
}
.main-bg-details .shop-section-single-item img {
  color: red;
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-bg-details .shop-section-single-item ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-bg-details .shop-section-single-item ul li {
  padding: 5px;
  width: 25%;
  border-left: 1px solid #797979;
  border-right: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.main-bg-details .shop-section-single-item ul li.last-item {
  border-right: 1px solid #797979;
}
.main-bg-details .shop-section-single-item ul li span {
  font-weight: 700;
  font-size: 12px;
  padding: 4px;
  margin-right: 45px;
  line-height: 50px;
}
.main-bg-details .shop-section-single-item ul li #digital {
  width: 35px;
  height: 35px;
  background: url(../images/cta-icons.png) 0px 0;
}
.main-bg-details .shop-section-single-item ul li #shop {
  width: 38px;
  height: 37px;
  background: url(../images/cta-icons.png) 38px 0;
}
.main-bg-details .shop-section-single-item ul li #locator {
  width: 38px;
  height: 37px;
  background: url(../images/cta-icons.png) 74px 0;
}
.main-bg-details .shop-section-single-item ul li #subscriptions {
  width: 38px;
  height: 37px;
  background: url(../images/cta-icons.png) 111px 0;
}

.total-footer .faq-cols {
  display: flex;
  align-self: center;
}
.total-footer .faq-cols ul {
  margin: 0 30px;
}
.total-footer .faq-cols ul .sub-list {
  margin: 0;
}
.total-footer .faq-cols ul li {
  margin: 6px;
}
.total-footer .faq-cols ul a {
  color: #797979;
}
.total-footer .container {
  display: flex;
  justify-content: space-between;
}
.total-footer .top-footer {
  display: flex;
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  overflow: hidden;
}
.total-footer .top-footer h3 {
  color: white;
  margin: 10px 0;
}
.total-footer .top-footer .footer-logo {
  width: 550px;
  position: relative;
  right: 0;
  bottom: 50px;
}
.total-footer .bottom-footer {
  position: relative;
  background-color: #303030;
  height: 140px;
}
.total-footer .bottom-footer .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.total-footer .bottom-footer .container h3 {
  color: white;
}
.total-footer .bottom-footer .container .button-sign-up {
  color: white;
  border: 2px solid #0082f9;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}
.total-footer .bottom-footer .container .social-area {
  display: flex;
  align-items: center;
}
.total-footer .bottom-footer .container span {
  color: #0082f9;
  font-size: 20px;
  font-weight: 700;
}
.total-footer .bottom-footer .container .social-list {
  display: flex;
  margin-left: 20px;
}
.total-footer .bottom-footer .container .social-list li {
  margin-left: 10px;
  cursor: pointer;
}