// Comic cards section
.cards-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #1c1c1c;
    color: $secondary-color;
    .container {
        display: flex;
        flex-direction: column;
       .btn {
        cursor: pointer;
        background-color: $primary-color;
            &.load-btn {
                margin-top: 60px;
                align-self: center;
                padding: 10px 40px;
            }
            &.current-btn {
                cursor:auto ;
                padding: 10px 20px;
                align-self: flex-start;
                font-size: 22px;
                font-weight: 700;
                position: absolute;
                left: 300px;
                top: -24px;
            }
        }
        // Comic cards wrapper
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            // Single comic details
            .single-card {
                margin: 40px 20px;
                width: calc((100% / 6) - 40px);
                height: 150px;
                h3 {
                    text-transform: uppercase;
                    color: $secondary-color;
                    font-size: 13px;
                    text-align: center;
                    margin-top: 15px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    cursor: pointer;
                }
        }
    }
}}

// Shop dc section
.shop-section {
    background-color: $primary-color;
    color: white;
    height: 150px;
    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
                margin: 0 7px;
            }
        }
    }
}

// Comics details section
.main-bg-details {
    background-color: $secondary-color;
    color: $tertiary-color;
    .top-details {
        background-color: $primary-color;
        height: 70px;
        width: 100%;
        position: relative;
        .details-thumb {
            border: 1px solid $secondary-color;
            position: absolute;
            left: 300px;
            bottom: 20px;
            img {
                width: 150px;
                height: 220px;
            }
        }
    }
    .item-details-wrapper {
        width: 60%;
        margin: 0 auto;
        h1 {
            font-size: 28px;
            color: #003f5e;
            text-transform: uppercase;
        }
        .item-details-top {
            padding: 50px 0;
            display: flex;
            justify-content: space-between;
            background-color: $secondary-color;
            .details-info {
                width: 60%;
                .price-and-available {
                    padding: 10px;
                    margin: 20px 0;
                    color: $secondary-color;
                    background-color: #55ba59;
                }
            }
            .adv-thumb h4 {
                text-transform: uppercase;
                text-align: end;
                font-size: 12px;
                color: $tertiary-color;
            }
            img {
                width: 250px;
            }
        }
    }
    .item-specs-wrapper {
        background-color: #f6f6f6;
        padding: 40px 0;
        h4 {
            font-size: 22px;
            color: #003f5e;
            border-bottom: 1px solid $tertiary-color;
            padding-bottom: 30px;
        }
        .info-specs {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .details-paragraph {
                display: flex;
                justify-content: space-between;
                margin: 5px 0;
                padding: 5px;
                border-bottom: 1px solid $tertiary-color;
                .author-names {
                    width: 40%;
                    text-align: end;
                    a {
                        color: #14b0e1;
                    }
                }
                .series-detail {
                    color: #14b0e1;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .talent-box {
                width: 48%;
            }
            .specs-box {
                width: 48%;
                .comic-specs {
                    width: 60%;
                }
            }
        }
    }
    .shop-wrapper {
        border-top: 1px solid $tertiary-color;
    }
    .shop-section-single-item {
        background-color: #f6f6f6;
        color: $tertiary-color;
        img {
            color: red;
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                padding: 5px;
                width: 25%;
                border-left: 1px solid $tertiary-color;
                border-right: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                &.last-item {
                    border-right: 1px solid $tertiary-color;
                }
                span {
                    font-weight: 700;
                    font-size: 12px;
                    padding: 4px;
                    margin-right: 45px;
                    line-height: 50px;
                }
                // Shop icons details
                #digital {
                    width: 35px;
                    height: 35px;
                    background: url(../images/cta-icons.png) 0px 0;
                }
                #shop {
                    width: 38px;
                    height: 37px;
                    background: url(../images/cta-icons.png) 38px 0;
                }
                #locator {
                    width: 38px;
                    height: 37px;
                    background: url(../images/cta-icons.png) 74px 0;
                }
                #subscriptions {
                    width: 38px;
                    height: 37px;
                    background: url(../images/cta-icons.png) 111px 0;
                }
            }
        }
    }
}