// Comic cards section
.cards-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #1c1c1c;
    color: $secondary-color;
    .container {
        display: flex;
        flex-direction: column;
       .btn {
        cursor: pointer;
        background-color: $primary-color;
            &.load-btn {
                margin-top: 50px;
                align-self: center;
                padding: 10px 40px;
            }
            &.current-btn {
                padding: 15px 30px;
                align-self: flex-start;
                font-size: 24px;
                font-weight: 700;
                position: absolute;
                left: 330px;
                top: -30px;
            }
        }
        // Comic cards wrapper
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            // Single comic details
            .single-card {
                margin: 40px 20px;
                width: calc((100% / 6) - 40px);
                height: 150px;
                h3 {
                    text-transform: uppercase;
                    color: $secondary-color;
                    font-size: 13px;
                    text-align: center;
                    margin-top: 15px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    cursor: pointer;
                }
        }
    }
}}

// Shop dc section
.shop-section {
    background-color: $primary-color;
    color: white;
    height: 150px;
    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
                margin: 0 7px;
            }
        }
    }
}

// Comics details section
.main-bg-details {
    color: $tertiary-color;
    .top-details {
        background-color: $primary-color;
        height: 70px;
        width: 100%;
        position: relative;
        .details-thumb {
            border: 1px solid $secondary-color;
            position: absolute;
            left: 300px;
            bottom: 20px;
            img {
                width: 150px;
                height: 250px;
            }
        }
    }
    .comic-details {
        height: 400px;
        background-color: $secondary-color;
    }
    h1 {
       color: #003f5e;
    }
}