header {
    background-color: $secondary-color;
}

section {
    background-color: $primary-color;
    .top-header-text {
        font-size: 12px;
        padding: 5px 0;
        color: $secondary-color;
        text-transform: uppercase;
        width: 83%;
        text-align: end;
        span {
            margin-right: 40px;
        }
    }
}

header .container {
    height: 140px;
    width: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    div {
        width: calc(100% / 7);
    }
    .links {
        width: 45%;
    }
    ul {
        display: flex;
        li {
            margin: 0 10px;
            a {
                cursor: pointer;
                color: $tertiary-color;  
                font-weight: 700;
                text-transform: uppercase;
                &.active {
                    color: $primary-color;
                    border-bottom: 5px solid $primary-color;
                    padding-bottom: 56px;
                }
            }
        }
    }
}

.banner {
    height: 400px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
}
